<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-title>Even odd
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--<h2>Welcome to Ionic!</h2>-->
    <!--<p>-->
    <!--This starter project comes with simple tabs-based layout for apps-->
    <!--that are going to primarily use a Tabbed UI.-->
    <!--</p>-->
    <!--<p>-->
    <!--Take a look at the <code>src/pages/</code> directory to add or change tabs,-->
    <!--update any existing page or create new pages.-->
    <!--</p>-->

    <div *ngIf="!isNewGame">

        <h3 *ngIf="user" text-center margin-bottom>Welcome, {{getName()}}</h3>

        <!--<div *ngIf="games.length">-->

        <div *ngIf="(games | async)?.length === 0" text-center>
            <h4 class="fw-200">Games not found</h4>
        </div>

        <div *ngIf="(games | async)?.length !== 0">
            <ion-list>
                <ion-item class="item item-block item-ios" *ngFor="let item of games | async">

                    <div item-start="" *ngIf="item.players; then playersBlock else noPlayersBlock"></div>

                    <ng-template #playersBlock>
                        {{item.players.length}} / {{item.maxPlayers}}
                    </ng-template>
                    <ng-template #noPlayersBlock>
                        0 / {{item.maxPlayers}}
                    </ng-template>

                    <ion-label class="label label-ios">&nbsp;{{ item.name }}</ion-label>
                    <button ion-button outline item-right (click)="join(item)">
                        Join
                    </button>

                </ion-item>
            </ion-list>
        </div>
        <!--</div>-->
        <!--<div *ngIf="!games.length">-->
        <!--<p>Games not found</p>-->
        <!--</div>-->

        <div padding>
            <button ion-button (click)="isNewGame = true" color="primary" block>Create new game</button>
        </div>

    </div>

    <div class="game-settings" *ngIf="isNewGame">

        <div>
            <ion-label color="primary">Name</ion-label>
            <ion-input placeholder="Awesome game" [(ngModel)]="game.name"></ion-input>
        </div>

        <div>
            <ion-label color="primary">Players limit</ion-label>
            <ion-input placeholder="10" [(ngModel)]="game.maxPlayers"></ion-input>
        </div>

        <div padding>

            <button ion-button color="primary" block (click)="createNewGame()" margin-bottom>Create new game</button>

            <button ion-button color="light" block (click)="isNewGame = false">Back</button>

        </div>


    </div>


</ion-content>
